.button{
    width: 100px;
    height: 40px
}

.primary{
    background: blue;
}

.secondary{
    background: purple;
}

.danger{
    background: red
}

.success{
    background: green
}
.warning{
    background: yellow;
}